body {
  background: rgb(221, 218, 218);
  color: rgb(49, 44, 44);
  font-family: "Raleway", sans-serif;
  margin: 50px 100px;
  border: solid black;
  padding: 30px;
}
img {
  margin-left: 400px;
  max-width: 400px;
  border: solid black;
}
